body {
  font-family: "Patrick Hand", cursive;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
nomi {
  padding: 10px;
  height: 18vh;
  line-height: 37px;
  overflow: hidden;
  overflow-y: hidden;
  overflow-y: scroll;
}
adder {
  width: 190px;
  height: 35px;
  border-radius: 23px;
  background-color: red;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
adder:active {
  background-color: red;
  color: white;
}
nome {
  background-color: gainsboro;
  border-radius: 29px;
  padding: 7px;
  color: #474646;
  margin-right: 5px;
  cursor: pointer;
  text-justify: inter-word;
  word-break: break-all;
}
bottiglia {
  display: flex;
  justify-content: center;
  height: 46vh;
}
spin {
  display: flex;
  justify-content: center;
  height: 6vh;
  margin-top: 70px;
}
add {
  display: flex;
  justify-content: center;
  height: 15vh;
}
.adder {
  width: 190px;
  height: 35px;
  border-radius: 23px;
  background-color: red;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.adder:active {
  width: 190px;
  height: 35px;
  border-radius: 23px;
  background-color: blue;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.spinner {
  width: 190px;
  height: 35px;
  border-radius: 23px;
  background-color: red;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.spinner:active {
  width: 190px;
  height: 35px;
  border-radius: 23px;
  background-color: blue;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
